SpringLigacaoTibco/src/main/resources/wsdl/GuildPlayersSoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1575049886588" xmlns:ns0="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Service/GuildPlayers/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" name="Untitled" targetNamespace="http://xmlns.example.com/1575049886588">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Service/GuildPlayers/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Service/GuildPlayers/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="GuildPlayersDataInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:GuildPlayersIn" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GuildPlayersDataOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:GuildPlayersOut" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GuildPlayersIn">
                <xs:complexType>
                    <xs:attribute name="ID_GuildMaster_FK" type="xs:string"/>
                    <xs:attribute name="ID_Guild_FK" type="xs:string"/>
                    <xs:attribute name="ID_Warrior_FK" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="GuildPlayersOut">
                <xs:complexType>
                    <xs:attribute name="ID_GuildMaster_FK" type="xs:string"/>
                    <xs:attribute name="ID_Guild_FK" type="xs:string"/>
                    <xs:attribute name="ID_Warrior_FK" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service">
        <wsdl:port name="GuildPlayersGetEndpoint1" binding="tns:GuildPlayersGetEndpoint1Binding">
            <soap:address location="http://192.168.0.76:8882/Service/GuildPlayers/Service.serviceagent/GuildPlayersGetEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="GuildPlayersGetAllEndpoint1" binding="tns:GuildPlayersGetAllEndpoint1Binding">
            <soap:address location="http://192.168.0.76:8882/Service/GuildPlayers/Service.serviceagent/GuildPlayersGetAllEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="GuildPlayersCreateEndpoint1" binding="tns:GuildPlayersCreateEndpoint1Binding">
            <soap:address location="http://192.168.0.76:8882/Service/GuildPlayers/Service.serviceagent/GuildPlayersCreateEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="GuildPlayersDeleteEndpoint1" binding="tns:GuildPlayersDeleteEndpoint1Binding">
            <soap:address location="http://192.168.0.76:8882/Service/GuildPlayers/Service.serviceagent/GuildPlayersDeleteEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="GuildPlayersGet">
        <wsdl:operation name="Get">
            <wsdl:input message="tns:GuildPlayersGetInput"/>
            <wsdl:output message="tns:GuildPlayersGetOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="GuildPlayersGetAll">
        <wsdl:operation name="GetAll">
            <wsdl:input message="tns:GuildPlayersGetAllInput"/>
            <wsdl:output message="tns:GuildPlayersGetAllOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="GuildPlayersCreate">
        <wsdl:operation name="Create">
            <wsdl:input message="tns:GuildPlayersCreateInput"/>
            <wsdl:output message="tns:GuildPlayersCreateOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="GuildPlayersDelete">
        <wsdl:operation name="Delete">
            <wsdl:input message="tns:GuildPlayersDeleteInput"/>
            <wsdl:output message="tns:GuildPlayersDeleteOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GuildPlayersGetEndpoint1Binding" type="tns:GuildPlayersGet">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Get">
            <soap:operation style="document" soapAction="/Service/GuildPlayers/Service.serviceagent/GuildPlayersGetEndpoint1/Get"/>
            <wsdl:input>
                <soap:body use="literal" parts="GetIn"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="GetOut"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GuildPlayersGetAllEndpoint1Binding" type="tns:GuildPlayersGetAll">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetAll">
            <soap:operation style="document" soapAction="/Service/GuildPlayers/Service.serviceagent/GuildPlayersGetAllEndpoint1/GetAll"/>
            <wsdl:input>
                <soap:body use="literal" parts="GetAllIn"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="GetAllOut"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GuildPlayersCreateEndpoint1Binding" type="tns:GuildPlayersCreate">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Create">
            <soap:operation style="document" soapAction="/Service/GuildPlayers/Service.serviceagent/GuildPlayersCreateEndpoint1/Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="CreateIn"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="CreateOut"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GuildPlayersDeleteEndpoint1Binding" type="tns:GuildPlayersDelete">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Delete">
            <soap:operation style="document" soapAction="/Service/GuildPlayers/Service.serviceagent/GuildPlayersDeleteEndpoint1/Delete"/>
            <wsdl:input>
                <soap:body use="literal" parts="DeleteIn"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="DeleteOut"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GuildPlayersGetInput">
        <wsdl:part name="GetIn" element="ns0:GuildPlayersDataInput"/>
    </wsdl:message>
    <wsdl:message name="GuildPlayersGetOutput">
        <wsdl:part name="GetOut" element="ns0:GuildPlayersDataOutput"/>
    </wsdl:message>
    <wsdl:message name="GuildPlayersGetAllInput">
        <wsdl:part name="GetAllIn" element="ns0:GuildPlayersDataInput"/>
    </wsdl:message>
    <wsdl:message name="GuildPlayersGetAllOutput">
        <wsdl:part name="GetAllOut" element="ns0:GuildPlayersDataOutput"/>
    </wsdl:message>
    <wsdl:message name="GuildPlayersCreateInput">
        <wsdl:part name="CreateIn" element="ns0:GuildPlayersDataInput"/>
    </wsdl:message>
    <wsdl:message name="GuildPlayersCreateOutput">
        <wsdl:part name="CreateOut" element="ns0:GuildPlayersDataOutput"/>
    </wsdl:message>
    <wsdl:message name="GuildPlayersDeleteInput">
        <wsdl:part name="DeleteIn" element="ns0:GuildPlayersDataInput"/>
    </wsdl:message>
    <wsdl:message name="GuildPlayersDeleteOutput">
        <wsdl:part name="DeleteOut" element="ns0:GuildPlayersDataOutput"/>
    </wsdl:message>
</wsdl:definitions>