SpringLigacaoTibco/src/main/resources/wsdl/NotificationsSoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1574673466837" xmlns:ns0="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Service/Notifications/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" name="Untitled" targetNamespace="http://xmlns.example.com/1574673466837">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Service/Notifications/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Service/Notifications/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="NotificationsDataInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:NotificationsIn" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NotificationsDataOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:NotificationsOut" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NotificationsIn">
                <xs:complexType>
                    <xs:attribute name="Description" type="xs:string"/>
                    <xs:attribute name="ID_Event_FK" type="xs:string"/>
                    <xs:attribute name="ID_Guild_FK" type="xs:string"/>
                    <xs:attribute name="ID_Notification" type="xs:string"/>
                    <xs:attribute name="ID_Player_Sender_FK" type="xs:string"/>
                    <xs:attribute name="ID_Reward_FK" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="NotificationsOut">
                <xs:complexType>
                    <xs:attribute name="Description" type="xs:string"/>
                    <xs:attribute name="ID_Event_FK" type="xs:string"/>
                    <xs:attribute name="ID_Guild_FK" type="xs:string"/>
                    <xs:attribute name="ID_Notification" type="xs:string"/>
                    <xs:attribute name="ID_Player_Sender_FK" type="xs:string"/>
                    <xs:attribute name="ID_Reward_FK" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="NotificationsService">
        <wsdl:port name="notificationsCreateEndpoint1" binding="tns:notificationsCreateEndpoint1Binding">
            <soap:address location="http://192.168.0.76:8882/Service/Notifications/NotificationsService.serviceagent/notificationsCreateEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="notificationsGetAllEndpoint1" binding="tns:notificationsGetAllEndpoint1Binding">
            <soap:address location="http://192.168.0.76:8882/Service/Notifications/NotificationsService.serviceagent/notificationsGetAllEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="notificationsGetEndpoint1" binding="tns:notificationsGetEndpoint1Binding">
            <soap:address location="http://192.168.0.76:8882/Service/Notifications/NotificationsService.serviceagent/notificationsGetEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="notificationsDeleteEndpoint1" binding="tns:notificationsDeleteEndpoint1Binding">
            <soap:address location="http://192.168.0.76:8882/Service/Notifications/NotificationsService.serviceagent/notificationsDeleteEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="notificationsCreate">
        <wsdl:operation name="Create">
            <wsdl:input message="tns:notificationsCreateInput"/>
            <wsdl:output message="tns:notificationsCreateOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="notificationsGetAll">
        <wsdl:operation name="GetAll">
            <wsdl:input message="tns:notificationsGetAllInput"/>
            <wsdl:output message="tns:notificationsGetAllOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="notificationsGet">
        <wsdl:operation name="Get">
            <wsdl:input message="tns:notificationsGetInput"/>
            <wsdl:output message="tns:notificationsGetOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="notificationsDelete">
        <wsdl:operation name="Delete">
            <wsdl:input message="tns:notificationsDeleteInput"/>
            <wsdl:output message="tns:notificationsDeleteOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="notificationsCreateEndpoint1Binding" type="tns:notificationsCreate">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Create">
            <soap:operation style="document" soapAction="/Service/Notifications/NotificationsService.serviceagent/notificationsCreateEndpoint1/Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="CreateIn"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="CreateOutput"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="notificationsGetAllEndpoint1Binding" type="tns:notificationsGetAll">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetAll">
            <soap:operation style="document" soapAction="/Service/Notifications/NotificationsService.serviceagent/notificationsGetAllEndpoint1/GetAll"/>
            <wsdl:input>
                <soap:body use="literal" parts="GetAllInput"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="GetAllOutput"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="notificationsGetEndpoint1Binding" type="tns:notificationsGet">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Get">
            <soap:operation style="document" soapAction="/Service/Notifications/NotificationsService.serviceagent/notificationsGetEndpoint1/Get"/>
            <wsdl:input>
                <soap:body use="literal" parts="GetInput"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="GetOutput"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="notificationsDeleteEndpoint1Binding" type="tns:notificationsDelete">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Delete">
            <soap:operation style="document" soapAction="/Service/Notifications/NotificationsService.serviceagent/notificationsDeleteEndpoint1/Delete"/>
            <wsdl:input>
                <soap:body use="literal" parts="DeleteInput"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="DeleteOutput"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="notificationsCreateInput">
        <wsdl:part name="CreateIn" element="ns0:NotificationsDataInput"/>
    </wsdl:message>
    <wsdl:message name="notificationsCreateOutput">
        <wsdl:part name="CreateOutput" element="ns0:NotificationsDataOutput"/>
    </wsdl:message>
    <wsdl:message name="notificationsGetAllInput">
        <wsdl:part name="GetAllInput" element="ns0:NotificationsDataInput"/>
    </wsdl:message>
    <wsdl:message name="notificationsGetAllOutput">
        <wsdl:part name="GetAllOutput" element="ns0:NotificationsDataOutput"/>
    </wsdl:message>
    <wsdl:message name="notificationsGetInput">
        <wsdl:part name="GetInput" element="ns0:NotificationsDataInput"/>
    </wsdl:message>
    <wsdl:message name="notificationsGetOutput">
        <wsdl:part name="GetOutput" element="ns0:NotificationsDataOutput"/>
    </wsdl:message>
    <wsdl:message name="notificationsDeleteInput">
        <wsdl:part name="DeleteInput" element="ns0:NotificationsDataInput"/>
    </wsdl:message>
    <wsdl:message name="notificationsDeleteOutput">
        <wsdl:part name="DeleteOutput" element="ns0:NotificationsDataOutput"/>
    </wsdl:message>
</wsdl:definitions>