SpringLigacaoTibco/src/main/resources/wsdl/NotificationReceiversSoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1574701057411" xmlns:ns0="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Service/NotificationReceivers/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" name="Untitled" targetNamespace="http://xmlns.example.com/1574701057411">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Service/NotificationReceivers/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/TheChampionsAcademyLeague/Service/NotificationReceivers/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="NotificationReceiversDataInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:NotificationReceiversIn"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NotificationReceiversDataOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:NotificationReceiversOut"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="NotificationReceiversIn">
                <xs:complexType>
                    <xs:attribute name="ID_Guild_FK" type="xs:string"/>
                    <xs:attribute name="ID_Notification_FK" type="xs:string"/>
                    <xs:attribute name="ID_Notification_Receiver" type="xs:string"/>
                    <xs:attribute name="ID_Player_Receiver_FK" type="xs:string"/>
                    <xs:attribute name="Notification_Seen" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="NotificationReceiversOut">
                <xs:complexType>
                    <xs:attribute name="ID_Guild_FK" type="xs:string"/>
                    <xs:attribute name="ID_Notification_FK" type="xs:string"/>
                    <xs:attribute name="ID_Notification_Receiver" type="xs:string"/>
                    <xs:attribute name="ID_Player_Receiver_FK" type="xs:string"/>
                    <xs:attribute name="Notification_Seen" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service">
        <wsdl:port name="notificationReceiversGetAllEndpoint1" binding="tns:notificationReceiversGetAllEndpoint1Binding">
            <soap:address location="http://localhost:8888/Service/NotificationReceivers/Service.serviceagent/notificationReceiversGetAllEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="notificationReceiversUpdateEndpoint1" binding="tns:notificationReceiversUpdateEndpoint1Binding">
            <soap:address location="http://localhost:8888/Service/NotificationReceivers/Service.serviceagent/notificationReceiversUpdateEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="notificationReceiversDeleteEndpoint1" binding="tns:notificationReceiversDeleteEndpoint1Binding">
            <soap:address location="http://localhost:8888/Service/NotificationReceivers/Service.serviceagent/notificationReceiversDeleteEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="notificationReceiversGetEndpoint1" binding="tns:notificationReceiversGetEndpoint1Binding">
            <soap:address location="http://localhost:8888/Service/NotificationReceivers/Service.serviceagent/notificationReceiversGetEndpoint1"/>
        </wsdl:port>
        <wsdl:port name="notificationReceiversCreateEndpoint1" binding="tns:notificationReceiversCreateEndpoint1Binding">
            <soap:address location="http://localhost:8888/Service/NotificationReceivers/Service.serviceagent/notificationReceiversCreateEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="notificationReceiversGetAll">
        <wsdl:operation name="GetAll">
            <wsdl:input message="tns:notificationReceiversGetAllInput"/>
            <wsdl:output message="tns:notificationReceiversGetAllOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="notificationReceiversUpdate">
        <wsdl:operation name="Update">
            <wsdl:input message="tns:notificationReceiversUpdateInput"/>
            <wsdl:output message="tns:notificationReceiversUpdateOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="notificationReceiversDelete">
        <wsdl:operation name="Delete">
            <wsdl:input message="tns:notificationReceiversDeleteInput"/>
            <wsdl:output message="tns:notificationReceiversDeleteOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="notificationReceiversGet">
        <wsdl:operation name="Get">
            <wsdl:input message="tns:notificationReceiversGetInput"/>
            <wsdl:output message="tns:notificationReceiversGetOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="notificationReceiversCreate">
        <wsdl:operation name="Create">
            <wsdl:input message="tns:notificationReceiversCreateInput"/>
            <wsdl:output message="tns:notificationReceiversCreateOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="notificationReceiversGetAllEndpoint1Binding" type="tns:notificationReceiversGetAll">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetAll">
            <soap:operation style="document" soapAction="/Service/NotificationReceivers/Service.serviceagent/notificationReceiversGetAllEndpoint1/GetAll"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="notificationReceiversUpdateEndpoint1Binding" type="tns:notificationReceiversUpdate">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Update">
            <soap:operation style="document" soapAction="/Service/NotificationReceivers/Service.serviceagent/notificationReceiversUpdateEndpoint1/Update"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="notificationReceiversDeleteEndpoint1Binding" type="tns:notificationReceiversDelete">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Delete">
            <soap:operation style="document" soapAction="/Service/NotificationReceivers/Service.serviceagent/notificationReceiversDeleteEndpoint1/Delete"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="notificationReceiversGetEndpoint1Binding" type="tns:notificationReceiversGet">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Get">
            <soap:operation style="document" soapAction="/Service/NotificationReceivers/Service.serviceagent/notificationReceiversGetEndpoint1/Get"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="notificationReceiversCreateEndpoint1Binding" type="tns:notificationReceiversCreate">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Create">
            <soap:operation style="document" soapAction="/Service/NotificationReceivers/Service.serviceagent/notificationReceiversCreateEndpoint1/Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="notificationReceiversGetAllInput">
        <wsdl:part name="part1" element="ns0:NotificationReceiversDataInput"/>
    </wsdl:message>
    <wsdl:message name="notificationReceiversGetAllOutput">
        <wsdl:part name="part1" element="ns0:NotificationReceiversDataOutput"/>
    </wsdl:message>
    <wsdl:message name="notificationReceiversUpdateInput">
        <wsdl:part name="part1" element="ns0:NotificationReceiversDataInput"/>
    </wsdl:message>
    <wsdl:message name="notificationReceiversUpdateOutput">
        <wsdl:part name="part1" element="ns0:NotificationReceiversDataOutput"/>
    </wsdl:message>
    <wsdl:message name="notificationReceiversDeleteInput">
        <wsdl:part name="part1" element="ns0:NotificationReceiversDataInput"/>
    </wsdl:message>
    <wsdl:message name="notificationReceiversDeleteOutput">
        <wsdl:part name="part1" element="ns0:NotificationReceiversDataOutput"/>
    </wsdl:message>
    <wsdl:message name="notificationReceiversGetInput">
        <wsdl:part name="part1" element="ns0:NotificationReceiversDataInput"/>
    </wsdl:message>
    <wsdl:message name="notificationReceiversGetOutput">
        <wsdl:part name="part1" element="ns0:NotificationReceiversDataOutput"/>
    </wsdl:message>
    <wsdl:message name="notificationReceiversCreateInput">
        <wsdl:part name="part1" element="ns0:NotificationReceiversDataInput"/>
    </wsdl:message>
    <wsdl:message name="notificationReceiversCreateOutput">
        <wsdl:part name="part1" element="ns0:NotificationReceiversDataOutput"/>
    </wsdl:message>
</wsdl:definitions>